<div style="background-color: #64b0f7;">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div fxLayout="column">
      <h1 style="color:white; font-size: 3em">JAMK</h1>

      <h3 style="color:white;"> ©2018 Devaki Inc.<br />
        All Rights Reserved.
      </h3>

    </div>
    <div fxLayout="column" fxLayoutAlign="space-around  start">
      <h3 style="color:white">About us</h3>
      <a style="color:white" href="#">Devaki brands</a>
      <a style="color:white" href="#">Our company values</a>
      <a style="color:white" href="#">Careers</a>
      <a style="color:white" href="#">Press</a>
      <a style="color:white" href="#">Ad specs</a>
      <a style="color:white" href="#">Accessibility</a>
      <a style="color:white" href="#">Office locations</a>
    </div>
    <div fxLayout="column">
      <h3 style="color:white">Contact us</h3>
      <a style="color:white" href="#">AOL member help</a>
      <a style="color:white" href="#"> Yahoo account help</a>
      <a style="color:white" href="#">Advertise</a>
      <a style="color:white" href="#">Closed captioning feedback</a>
    </div>
    <div fxLayout="column">
      <h3 style="color:white">Brand trust</h3>
      <a style="color:white" href="#">Privacy policy (Updated)</a>
      <a style="color:white" href="#">Terms of service (Updated)</a>
      <a style="color:white" href="#"> About our ads</a>
      <a style="color:white" href="#">Transparency</a>
      <a style="color:white" href="#">Business & human rights</a>
      <a style="color:white" href="#">Standards of business conduct</a>
    </div>
    <div fxLayout="column">
      <h3 style="color:white">Follow us</h3>
      <a style="color:white" href="#"> Twitter</a>
      <a style="color:white" href="#"> Facebook</a>
      <a style="color:white" href="#">Instagram</a>
      <a style="color:white" href="#"> LinkedIn</a>
    </div>
  </div>

</div>