<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:50px">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column"  #registerForm="ngForm">
        <table cellspacing="0">
          <tbody>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First Name" [(ngModel)]="registerData.firstname" ngModel #firstName="ngModel"
                    required name="firstName">
                  <mat-error *ngIf="firstName.invalid"></mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Last Name" [(ngModel)]="registerData.lastname" ngModel #lastName="ngModel"
                    required name="lastName">
                  <mat-error *ngIf="lastName.invalid"></mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput type="tel" placeholder="Mobile Number" [(ngModel)]="registerData.usermobile" ngModel #mobile="ngModel"
                    required name="mobile">
                  <mat-error *ngIf="mobile.invalid"></mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput type="tel" placeholder="Alternative Mobile Number" ngModel [(ngModel)]="registerData.altermobile"
                    #altmobile="ngModel" required name="altmobile">
                  <mat-error *ngIf="altmobile.invalid"></mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Email Id" #email="ngModel" ngModel [(ngModel)]="registerData.useremail"
                    required name="email">
                  <mat-error *ngIf="email.invalid"></mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="Password" #password="ngModel" ngModel [(ngModel)]="registerData.userpassword"
                    required name="password">
                  <mat-error *ngIf="password.invalid"></mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="Confirm Password" ngModel #confirmpassword="ngModel" required
                    name="confirmpassword">
                  <mat-error *ngIf="confirmpassword.invalid"></mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Address" ngModel [(ngModel)]="registerData.address" #address="ngModel"
                    required name="address">
                  <mat-error *ngIf="address.invalid"></mat-error>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="confirm(registerData)" color="primary">Sign Up</button>
    </mat-card-actions>
  </mat-card>
  <!-- <div class="headerDivider"></div> -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="loginusername" name="loginusername" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [(ngModel)]="loginpassword" type="password" name="loginpassword"
                  required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
<div style="margin-top:50px"></div>