.example-full-width {
    width: 300px;
  }
  
  .headerDivider {
    border-left: 0.8px solid #929697;
    border-right: 0.8px solid #929697;
    height: 400px;
    position: absolute;
    margin-top: 15px;
  }