.example-card {
    width: 800px;
    margin: 5px;
} 
.venu{
    width: 100%;
}

.button {
    float: right;
    margin-top: -80px;
    margin-right: 40px;
    border-color: blue;
    padding: 1px 2px 1px 2px; 
}
.mat-button-toggle-group .mat-button-toggle{
    width: 42px;
}