<!-- <app-header></app-header> -->
<div fxLayout="row">
  <div fxLayout="column">
    <h3>Your Order Here</h3>
    <div *ngFor="let item of toOrderListItems">
      <mat-card class="example-card">
        <mat-card-content *ngIf="item.toggle">
          <div fxLayout="column">
            <mat-card-title>{{item.item}}</mat-card-title>
            <mat-card-subtitle>&#x20b9; {{item.selling_price}}</mat-card-subtitle>
            <span>
              Item Contains{{item.itemcontains}}<br />
            </span>
          </div>
        </mat-card-content>
        <mat-card-actions class="button">
          <mat-button-toggle-group class="togglebutton" *ngIf="item.toggle" (click)="venu(group.value)" [(ngModel)]="selectedValue"
            #group="matButtonToggleGroup">
            <mat-button-toggle [disabled]="disable" value="remove">
              <mat-icon>remove</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [disabled]="true" value="">
              {{count}}
            </mat-button-toggle>
            <mat-button-toggle value="add">
              <mat-icon>add</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-actions>
      </mat-card>
    </div>
    <h4 *ngIf="button">Total:     {{price}}</h4>
    <button mat-raised-button color="primary" style="width: 100%" *ngIf="button" routerLink="/homepage" routerLinkActive="active">CheckOut</button>
  </div>
</div>