a {
    text-decoration: none !important;
    margin-top: 8px;
}
.example-card {
    width: 400px;
    margin: 5px;
}
img{
    border-radius: 50%;
}
.example-category{
    width: 930px;
}
mat-form-field{
    margin-right: 50px;
}
mat-radio-button{
    margin-right: 50px;  
}
  
.radio{
    border: 1px solid #64b0f7;
    padding:15px 210px 15px 210px;
}